h3.resultInfoHeading Here are top 10 restaurants of your locality.

for result in results
	.resultsWrapper.row
		.imgWrapper.col-sm-3.col-xs-12.text-center
			img(src='#{result.imgUrl}' class="restaurantPic")
		.infoWrapper.col-sm-9.text-left.col-xs-12
			.col-sm-12
				.nameWrapper
					h3.restaurantName
						|	#{result.name}
					p.rating
						strong Rating: 
						|	#{result.rating}
				.otherInfoWrapper
					p.location
						strong Location:
						|	#{result.address}
					p.review
						strong Review:
						|	#{result.comment}
				.peopleGoingWrapper
					p.status 
						strong Status:
						|	#{result.status}
				.controlsWrapper
					a
						button Not Going
