main
	.container
		h3.resultsInfoHeading 
			| Food suggestions near 
			strong #{results[0].reqLocation}
		for result in results
			.resultsWrapper.row
				.result
					.imgWrapper
						img(src="#{result.imgUrl}")
					.infoWrapper
						.ratingWrapper(style="color: #{result.ratingColor} !important")
							i.material-icons star
							span.rating.
								#{result.rating}
						.likesWrapper
							i.material-icons thumb_up
							span.likes.
								#{result.likesCount}
						.nameWrapper
							a(href="#{result.url}")
								h3 #{result.name}
							
							p.infoLines.foodLoc.infoMar
								span.location
									i.material-icons room
									|  #{result.address}
							p.infoLines.foodLoc
								span.number
									i.material-icons call 
									|  #{result.phoneNo}
				.otherResultInfoWrapper.row
					.col-xs-12.otherInfoWrapper
						.col-xs-4.otherInfoHead
							p.
								Cuisine
						.col-xs-8.otherInfoBody
							p.
								#{result.category}
					.col-xs-12.otherInfoWrapper
						.col-xs-4.otherInfoHead
							p.
								Status
						.col-xs-8.otherInfoBody
							p.
								#{result.status}
					.col-xs-12.otherInfoWrapper
						.col-xs-4.otherInfoHead
							p.
								Review
						.col-xs-8.otherInfoBody
							p.
								#{result.comment}
							img(src="#{result.commentator.imgUrl}").reviewer
							p.reviewerInfo
								|	#{result.commentator.name}
					.col-xs-12.buttonWrapper
						.col-xs-6.vleft
							a
								button.resultBtn.shareBtn
									i.material-icons share
									|  Share 
						.col-xs-6.vright
							a
								button.resultBtn.countBtn 
									i.material-icons person
									|  You and 20 others are going

						
					